{% extends 'home-admin.html.twig' %}
{% block body %}
<div class="container p-0">
    <div class="title-admin"><h1 class="m-0">PRODUCT LIST</h1></div>
    <div class="card rounded-0">
        <div class="table-responsive text-nowrap">
            <table class="table table-striped m-0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>PRICE</th>
                        <th>IMAGE</th>
                        <th>GENDER</th>
                        <th>DESCRIPTION</th>
                        <th>BRAND</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for pro in product %}
                        <tr>
                            <td>{{pro.id}}</td>
                            <td>{{pro.pname}}</td>
                            <td>{{pro.pprice}}</td>
                            <td>
                                {% set img = pro.pimg%}
                                <img class="img-fluid" style="height: 40px;" src="{{asset('images/'~img)}}" alt="Image"> 
                            </td>
                            <td>{{pro.pgender}}</td>
                            <td class="text-truncate" style="max-width: 15vw">{{pro.pdes}}</td>
                            <td>{{pro.id}}</td> 
                            <td>
                                <a href="{{path('edit_product',{'id':pro.id})}}" class="text-decoration-none"><i class="fa-sharp fa-solid fa-pen-to-square mx-2"></i></a>&nbsp;
                                <a href="{{path('delete_product',{'id':pro.id})}}" class="text-decoration-none"><i class="fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <a href="{{path('add_product')}}"><input type="button" value="ADD NEW PRODUCT" class="btn btn-primary m-2"></a> 
</div>       
{% endblock %}