{% extends 'home.html.twig' %}
{% block body %}
    <div class="row p-0 g-0">
        <div class="rounded my-5 mx-auto shadow-lg d-flex" style="max-width: 75vw">
            <div class="col-lg-5 p-3 my-auto">
                <div class="image_selected ms-3">
                {% set img = product.pimg %}
                    <img src="{{asset('images/'~img)}}"
                    class="w-100" />
                </div>
            </div>
            <div class="col-lg-7 p-2">
                <h3 class="my-5 fw-bold">
                    {{product.pname}}
                </h3>
                <h4 class="text-danger fw-bold my-3">{{product.pprice}}đ</h4>
                <p class="lh-lg">
                    {{product.pdes}}
                </p>
                <form action="{{path('add_cart',{'id':product.id})}}" class="h5 my-auto d-flex" methods="get">  
                    <input type="number" class="p-2" placeholder="  Enter quantity" name="quantity" required>
                    {% if app.user %}
                    <button type="submit" class="btn btn-danger mx-3">Add to cart</button>
                    {% else %}
                    <button class="btn btn-danger mx-3"><a href="{{path('loginForm')}}" class="text-decoration-none text-white">Add to cart</a></button>
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="relative rounded my-5 shadow-lg mx-auto" style="max-width: 20vw">
            <p class="h5 p-3 text-center bg-dark text-white text-uppercase">Relative product in brand</p>
            {% for br in brid %}
                <a href="{{path('detail_product',{'id':br.id})}}" style="text-decoration: none;">
                    <div class="product d-flex">
                        {% set img = br.pimg %}
                        <img src="{{asset('images/'~img)}}" alt="" class="w-25 p-3">
                        <p class="my-auto text-dark">{{br.pname}}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}