{% extends 'home.html.twig' %}
{% block body %}
    <link rel="stylesheet" href="{{asset('css/style-productBrand.css')}}">
    <div class="tab-content">
        <div class="tab-pane fade show p-0 active">
            <div class="title">
                    <span>Female</span>
            </div>
            <div class="row g-4 my-3 mx-auto">
                {% for pro in product %}
                    <div class="card-item col-xl-3 col-lg-6 col-md-6 mx-auto">
                        <div class="product-item shadow rounded">
                            <div class="position-relative">
                                {% set img = pro.pimg %}
                                <a href="{{path('detail_product',{'id':pro.id})}}" class="" ><img class="img-fluid m-auto p-3" src="{{asset('images/'~img)}}" style="height: 277px;" alt="Image"></a>
                            </div>
                            <div class="text-center p-2">
                                <a class="text-truncate d-block h6 mb-2" href="">{{pro.pname}}</a>
                                <span class="text-danger me-1 fw-bold">{{pro.pprice}}đ</span>
                            </div>
                            <div class="d-flex border-top">
                                <small class="w-50 text-center border-end py-2">
                                    <a class="text-body" href="{{path('detail_product',{'id':pro.id})}}"><i class="fa fa-eye text-primary me-2"></i>View detail</a>
                                </small>
                                {% if app.user %}
                                <small class="w-50 text-center py-2">
                                    <a class="text-body" href="{{path('add_cart',{'id':pro.id})}}"><i class="fa fa-shopping-bag text-primary me-2"></i>Add to cart</a>
                                </small>   
                                {% else %}
                                <small class="w-50 text-center py-2">
                                    <a class="text-body" href="{{path('loginForm')}}"><i class="fa fa-shopping-bag text-primary me-2"></i>Add to cart</a>
                                </small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}