{% extends 'home.html.twig' %}

{% block title %}Cart - La'Codai{% endblock %}

{% block body %}
<section class="h-100" style="background-color: #eee;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">
        <div class="d-flex justify-content-center align-items-center mb-4">
          <h2 class="mb-0 text-black fw-bold">Order Detail</h2>
        </div>
        
        <div class="card rounded-3 mb-4">
          <h5 class="fw-normal mb-0 text-white bg-dark p-2 rounded-top">Order ID: {{id}}</h5>
          {% for ordt in orderdetail %}
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                {% set img = ordt.pimg %}
                <img
                  src="{{asset('images/'~img)}}"
                  class="img-fluid rounded-3" alt="Cotton T-shirt">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">{{ordt.pname}}</p>
                <p class="lead fw-normal mb-2 text-danger">{{ordt.pprice}} đ</p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex p-4">
                <input value="{{ordt.quantity}}" type="number" class="form-control form-control-sm text-center" disabled/>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1 mt-1">
                <h5 class="mb-0">{{ordt.total}} đ</h5>
              </div>
            </div>
          </div>
          {% endfor %}
          
        </div>
        <div class="card-body p-0">
          <a href="{{path('my_order')}}" class="btn btn-success">Back to Order</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
